<script type="text/javascript">

    var store_combo_Diagrams = createStore('/diagrams/store/grid',
                                               ['id', 'name'],
                                               [{name: 'id',  mapping: 'id'},
                                                {name: 'name',  mapping: 'name'}]
                                            );

	var store_combo_Site = createStore('/sites/store/grid',
									   ['id', 'name'],
									   [{name: 'id',  mapping: 'id'},
									    {name: 'name',  mapping: 'name'}
									   ]);

    var comboDiagrams = new Ext.form.ComboBox({
            fieldLabel: 'Diagram',
            valueField: 'id',
            displayField: 'name',
            name: 'subrack[name]',
            hiddenName: 'subrack[diagram_id]',
            editable: true,
            emptyText: 'select a Diagram...',
            store: store_combo_Diagrams,
            mode: 'remote',
            selectOnFocus: true,
            forceSelection: true,
            triggerAction: 'all',
            minChars: 3,
            allowBlank: true,
            width: 200
        });

	var comboSite = new Ext.form.ComboBox({
			fieldLabel: 'Site',
			labelWidth: 40,
			valueField: 'id',
			displayField: 'name',
			name: 'subrack[subrack]',
			hiddenName: 'subrack[site_id]',
			emptyText: 'Select a Site...',
			store: store_combo_Site,
			mode: 'remote',
			selectOnFocus: true,
			forceSelection: true,
			triggerAction: 'all',
			allowBlank: false,
            width: 300,
			editable: true,
			minChars: 3
		});

	var form_newSubrack_names =
		new Ext.FormPanel({
			frame:true,
  			title: 'Create a new Subrack using the form below',
	  		bodyStyle:'padding:5px 5px 0',
	  		style: "margin: 0px auto 0px auto;",
	  		width: 700,
	  		defaults: {width: 440},
	  		monitorValid: true,
            items:[{xtype:"fieldset",title:"Subrack",autoHeight:true,width: 680,
                    items:[
                           {layout: 'column',
                            items:[{labelWidth: 40, columnWidth:0.6, layout:'form'
                                   ,items:[comboSite]
                                    },
                                   {labelWidth: 40, columnWidth:0.4, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'Name', name: 'subrack[name]', allowBlank:false, width: 198}]
                                   }]
                           },
                           {layout: 'column',
                            items:[{labelWidth: 40, columnWidth:0.33, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'Floor', name: 'subrack[floor]', allowBlank:false, width: 140}]
                                    },
                                   {labelWidth: 40, columnWidth:0.34, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'Room', name: 'subrack[room]', allowBlank:false, width: 140}]
                                    },
                                   {labelWidth: 40, columnWidth:0.33, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'Line', name: 'subrack[line]', allowBlank:false, width: 152}]
                                   }]
                           },
                           {layout: 'column',
                            items:[{labelWidth: 40, columnWidth:0.33, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'Rack', name: 'subrack[rack]', allowBlank:false, width: 140}]
                                    },
                                   {labelWidth: 40, columnWidth:0.34, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'Group', name: 'subrack[grupo]', allowBlank:true, width: 140}]
                                    },
                                   {labelWidth: 60, columnWidth:0.33, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'Connector', name: 'subrack[connector]', allowBlank:true, width: 132}]
                                  }]
                           },
                           {layout: 'column',
                            items:[{labelWidth: 80, columnWidth:0.33, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'Total Fibers', name: 'subrack[total_fibers]', allowBlank:false, width: 100}]
                                    },
                                   {labelWidth: 100, columnWidth:0.37, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'Released Fibers', name: 'subrack[released_fibers]', allowBlank:false, width: 97}]
                                    },
                                   {labelWidth: 90, columnWidth:0.30, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'Broken Fibers', name: 'subrack[broken_fibers]', allowBlank:false, width: 82}]
                                  }]
                           },
                           {layout: 'column',
                            items:[{labelWidth: 71, columnWidth:0.45, layout:'form'
                                   ,items:[comboDiagrams]
                                  }]
                          }]
                  }],
			buttons:[{text: 'Create Subrack',
				      handler:function() {
		        		if (form_newSubrack_names.getForm().isValid()){
		          			form_newSubrack_names.getForm().submit({
		            			url:'<%= url_for (:controller => 'subracks', :action => 'create') %>',
		            			waitMsg:'Saving Data...',
		            			success: function(){
		              				Ext.Msg.alert('Subrack_name added','The subrack has been successfully created');
		              				updateSubTab('tab_subracks','sub_tab_subracks','Subrack_names','<%= subracks_path %>');;
		              				closeSubTab('tab_subracks','sub_tab_subracks_new');
	            				},
		            			failure: function()
		            			   {Ext.Msg.alert('Error','There has been a problem while creating this request! Contact the system administrator.')}
		          			});
        				}
	      			  }
				     },
    			     {
    				  text: 'Cancel',
    				  handler:function(){closeSubTab('tab_subracks','sub_tab_subracks_new');}
	  			    }]
	});

	form_newSubrack_names.render( 'area_form_newSubrack_names');

</script>
<br />
<div id="area_form_newSubrack_names" style="float:left;"></div>
