table.simpleTable{
}

table.simpleTable td, th {
    padding: 0 1em;
	text-align: left;
	border: 1px solid #AEAEAE;
	font-size: 11px;
}

table.simpleTable th {
	font-style: italic;
	font-weight: bold;
	text-align: center;

}

.tabContent{
	padding: 10px;
	background-color: #FCFCFC;/*FCFCFC*/
	overflow-y: auto;
}

/* for all the system*/
.ExtPage{
	padding: 10px;
}

a {
	color:#15428B;
}

a:hover {
  color:#DA251D;
}
/*font-family: Verdana, Arial, Helvetica, sans-serif;*/


/*Show */
.ShowPage{
	font-size: 13px;
}

.ShowPage p{
	font-size: 11px;
	padding: 5px 10px 5px 10px;
}
.ShowPage a{
	font-size: 14px;
}

a.link{
	font-size: 12px;
	text-align: left;
}
.ShowPage b{
	font-size: 12px;

}
.ShowPage h1{
	border-bottom:3px dotted #AEAEAE ;
	width: 100%;
	color: red;
	font-size: 25px;
	margin-bottom:10px;
}

.ShowPage fieldset {
 	border: 0.5px solid #99BBE8;
 	width:40%;/*tamanho do filedset*/;
}
.ShowPage legend {
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color:#15428B;
}
.ShowPage legend.name {
 	font-size: 15px;
}
.ShowPage div.action {
	padding: 10px;
 	width: 50%;
}

.ShowPage table {
	padding: 5px;
	width:100%;
	line-height: 155%;
}
.ShowPage th {
	font-size: 12px;
	font-weight: bold;
	width:13%;
	text-align: left;
	border:transparent;
	vertical-align:top;
	line-height: 1.8em;
}

.ShowPage td {
	font-size: 12px;
	text-align: left;
    width:87%;
    height:100%;
	border:transparent;
}

.ShowPage table.addr th {
	width:15%;
}
.ShowPage table.addr td {
	width:85%;
}

.ShowPage  span{
	font-weight: bold;
	font-size: 12px;
}
.ShowPage span.pipe
{
	color:#99BBE8;
}

/*Span-show*/

.ShowPage fieldset.spanview {
 	width:30%;/*tamanho do filedset*/;
}
.ShowPage table.spanview th {
	width:23%;
}

.ShowPage table.spanview td {
	width:77%;
}
/*User-show*/

.ShowPage fieldset.user {
 	width:40%;/*tamanho do filedset*/;
}
.ShowPage table.user th {
	width:35%;
}
.ShowPage table.user td {
	width:65%;
}

/*Site-show*/

.ShowPage fieldset.siteview {
 	width:40%;/*tamanho do filedset*/;
}
.ShowPage table.siteview th {
	width:25%;
}

.ShowPage table.siteview td {
	width:75%;
}


/*Subrack-show*/

.ShowPage fieldset. {
 	width:50%;/*tamanho do filedset*/;
}

.ShowPage table.subrackview2  {
	padding-bottom: 0px;

}

.ShowPage table.subrackview2 th {
	width:23%;

}

.ShowPage table.subrackview2 td {
	width:77%;

}

.ShowPage table.subrackview  {
	width:52%;
	float:left;
	padding-top: 0px;
}

.ShowPage table.subrackview th {
	width:72%;

}

.ShowPage table.subrackview td {
	width:28%;

}

.ShowPage table.subrackview3  {
	width:48%;
	border-left:  0.5px solid #d0d0d0;
	float:right;
	padding-top: 0px;

}
.ShowPage table.subrackview3 th {
	width:70%;

}

.ShowPage table.subrackview3 td {
	width:30%;
}
.ShowPage div.table_container th {
	margin:0 auto;
	align:center;
	width:100%;
	padding-top: 0px;
	padding-botton: 1px;
}

/*Diagram-show*/

.ShowPage fieldset.diagramview {
 	width:25%;/*tamanho do filedset*/;
}
.ShowPage table.diagramview th {
	width:40%;
}

.ShowPage table.diagramview td {
	width:60%;
}

.ShowPage table.ddesignprincipal {
	margin;
	padding:0;
	width:63%;
}
.ShowPage table.diagramdesign  {
	margin:0;
	padding:0;
	width:15%;
	align:center;
}
.ShowPage  h1.diagramshow {
font-size: 22px;

}

/*Cable-show*/

.ShowPage fieldset.cableview {
 	width:30%;/*tamanho do filedset*/;
}
.ShowPage table.cableview th {
	width:25%;
}

.ShowPage table.cableview td {
	width:75%;
}

/*Project-show*/



.ShowPage fieldset.pdetailsview {
 	height: auto;
	width: 570px;
 	border: 0.5px solid #E3E3E3;
}
.ShowPage div.area {
	 height: auto;
	 width: 650px;
}
.ShowPage table.pdetailsview2  {
	padding-bottom: 0px;

}

.ShowPage table.pdetailsview2 th {
	width:23%;

}

.ShowPage table.pdetailsview2 td {
	width:77%;

}

.ShowPage table.pdetailsview {
	width:52%;
	float:left;
	padding-top: 0px;
	border-right:  0.5px solid #d0d0d0;

}

.ShowPage table.pdetailsview th {
	width:60%;

}

.ShowPage table.pdetailsview td {
	width:40%;
	text-align: left;

}

.ShowPage table.pdetailsview3  {
	width:48%;

	float:right;
	padding-top: 0px;

}
.ShowPage table.pdetailsview3 th {
	width:70%;

}

.ShowPage table.pdetailsview3 td {
	width:30%;
}
.ShowPage div.table_container th {
	margin:0 auto;
	align:center;
	width:100%;
	padding-top: 0px;
	padding-botton: 1px;
}


table.envolved{
}

table.envolved td {
    padding: 0 1em;
	text-align: left;
	border: 1px solid #E3E3E3;
	font-size: 11px;
}

table.envolved th {
	font-weight: bold;
	text-align: center;
	border: 1px solid #EBEBEB;
	font-size: 13px;
	background-color:#F5F5F5;
	color:#15428B;

}
.ShowPage p.people {
	color:#15428B;
	font-style: italic;
	font-weight: bold;
	font-size: 17px;

}

table.pspan{

}

table.pspan td {
    padding: 0 1em;
	text-align: left;
	border: 1px solid #E3E3E3;
	font-size: 11px;
	width:20%;
}

table.pspan th {
	font-weight: bold;
	text-align: center;
	border: 1px solid #EBEBEB;
	font-size: 13px;
	background-color:#F5F5F5;
	color:#15428B;
	width:20%;
}
#holder {

    position: absolute;
}
#copy {

    position: absolute;

}
#copy a {
    color: #fff;
}