#setup {
    border: 0;
    padding: 5px;
	line-height: 125%;
}

root {
    display: block;
}

/* Global styles */

#notice {
    border: 2px solid red;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #f0f0f0;
    font: bold smaller sans-serif;
}

#login-information
{
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0;
    padding: 0;
    font-size: small;
}
h1 {
    font: 150% sans-serif;
    color: #333333;
    border-bottom: 3px dotted #AEAEAE;
    font-family: Arial,Helvetica,sans-serif;
    margin-bottom: 10px;
}


.login-notice {
    border: 2px solid red;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: .5em;
    padding-right: .5em;
    margin-bottom: 2em;
    background-color: #f0f0f0;
    font: bold smaller sans-serif;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.login-form fieldset {
    background: #efe;
    text-align: center;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.optibuilder-form fieldset {
    background: #efe;
    width: 45%;
}

.optibuilder-form legend, .login-form legend {
    color: #dfd;
    background: #141;
    font-family: sans-serif;
    padding: 0.2em 1em;
}

.optibuilder-form label, .login-form label {
    width: 10em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

.optibuilder-form #chpw {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-form .submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* The error box */

.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

#errorExplanation {
        width: 652px;
	border: #FF0000  solid 1px;
	background-color: #FFDCDC;
	font-weight: bold;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    margin: 5px;
}

#errorExplanation ul li {
    list-style: square;
    margin-top: -10px;
    margin-bottom: -10px;
}

#addPermissionBox a, #showPermission a {
}

#addPermissionBox, #showPermission {
    font-size: x-small;
    display: inline;
    visibility: hidden;
}

#profile {
    display: inline;
}

/******************************************
 *
 *            Custom CSS
 *
 ******************************************/

table.codeComboBox td#code {
	text-align:right;
	border-bottom:1px solid #eeeeee;
}

tr.addresses td {
	font-size:12px;
	font-weight:bold;
}

tr.geomarks td {
	text-align:left;
	font-size:11px;
	width:300px;
}

table.codeComboBox2 td#code {
	text-align:left;
	border-bottom:1px solid #eeeeee;
}

tr.addresses2 td {
	font-size:11px;
}

.type_td {
	font-size:10px;
	text-align:right;
}
.type2_td {
	font-size:10px;
	text-align:left;
}

span.codeColumn {
	font-style: italic;
}
* {
	margin:0;
	padding:0
}
/* mac hide \*/
html,body{
	height:100%;
	width:100%;
}

/* end hide */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	/*background-image:url(/images/background.gif);*/
	background-repeat: repeat-x;
}
p {
	text-align: justify;
}
ul {
	padding: 10px;
	text-align: justify;
	margin-left: 30px;
	margin-right: 30px;
}
a {
	color: #0070B7;
	text-decoration: none;
}
a:hover {
/* 	color: #0070B7; */
	text-decoration: underline;
}
.optibuilder_line {
	border: #D0D0D0 solid 1px;
	width: 100%;
	height: 1px;
	margin-top: 0px;
	padding: 0px;
	float: left;
}
.optibuilder_error_box {
	border: #FF0000  solid 1px;
	background-color: #FFDCDC;
	font-weight: bold;
	padding: 10px;
}
.optibuilder_success_box {
	border: #00CC00  solid 1px;
	background-color: #DCFFDD;
	font-weight: bold;
	padding: 10px;
}
.input_button {
	color:#000000;
	font-weight:bold;
	background-color:#FFFFFF;
	border:1px solid #000000;
	padding: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

#optibuilder_logo {
	width: 263px;
	height: 80px;
	float: left;
	padding-left: 0px;
}

#optibuilder_userinfo {
	width: auto;
	height: 80px;
	float: right;
	padding-right: 30px;
	padding-top: 15px;
}

.welcome_screen {
        text-align: right;
        margin-right: 20px;
}

.welcome_screen h1 {
        border-bottom: none;
}

/************************************
 *
 *      Regions Context Menu
 *
 ***********************************/

.menu_new_region {
        background-image:url(/images/icon_new_region.gif) !important;
        background-repeat: no-repeat;
        background-position: center left;
        margin-left: 2px;
}

.menu_reload {
        background-image:url(/images/icon_reload.gif) !important;
        background-repeat: no-repeat;
        background-position: center left;
        margin-left: 2px;
}

.menu_delete_region {
        background-image:url(/images/icon_remove_region.gif) !important;
        background-repeat: no-repeat;
        background-position: center left;
        margin-left: 2px;
}

/************************************
 *
 *           Login
 *
 ***********************************/

#optibuilder_login_message {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	margin-left: 350px;
	width: 270px;
}
#optibuilder_login_box {
	width: 270px;
	margin-left: 350px;
        margin-top: 20px;
        margin-bottom: 5px;
}
#optibuilder_login_tab {
	text-align: left;
	width: 270px;
}
#optibuilder_login_form {
	width: 230px;
	padding: 20px;
	padding-top: 30px;
	padding-bottom: 40px;
	background-color: #F9F9F9;
	border: #D0D0D0 solid 1px;
	text-align: left;
}
#optibuilder_login_form .login_button {
	color:#000000;
	font-weight:bold;
	background-color:#FFFFFF;
	border:1px solid #000000;
	padding: 2px;
	padding-left: 8px;
	padding-right: 8px;
	float: right;
}
#optibuilder_login_form label {
	font-weight:bold;
}
/************************************
 *
 *           Users
 *
 ***********************************/

 #optibuilder_users label {
        font-weight: bold;
 }
 #optibuilder_users li, ul {
        margin-left: 10px;
        list-style: disc;
 }
 #optibuilder_users_permissions {
       width: 80%;
       margin-left: auto;
       margin-right: auto;
 }
 #optibuilder_users_permissions ul {
        margin-left: 5px;
        list-style-type: none;
 }
 #optibuilder_users_permissions li {
        background-image: url('/ext-2.0/resources/images/default/tree/folder.gif');
        background-repeat: no-repeat;
        padding-left: 20px;
 }
 #optibuilder_users_permissions form {
        margin: 0px;
        display: inline;
 }

/************************************
 *
 *           REGIONS
 *
 ***********************************/

 #optibuilder_permission_search_user {
        display:inline;
        float:right;
        width: 240px;
 }

 #optibuilder_permission_list_users li {
        margin-left: 20px;
        list-style-type: disc;
 }

 #optibuilder_permission_list_users form {
        margin: 0px;
        display: inline;
 }

 /************************************
 *
 *           LOGGER
 *
 ***********************************/

.x-log-entry { }
.x-log-entry .x-log-level {
	float:left;
	width:4em;
	text-align:center;
	margin-right: 3px;
}
.x-log-entry .x-log-time {
	margin-right: 3px;
        font-weight: bold;
}
.x-log-entry .x-log-message {
	margin-right: 3px;
}
.x-log-debug { background-color: #46c }
.x-log-info { background-color: green }
.x-log-warn { background-color: yellow }
.x-log-error { background-color: red }

/************************************
 *
 *           MISC
 *
 ***********************************/

 #optibuilder_options li, ul {
        margin-left: 20px;
        list-style: disc;
        font-size: 11px;
 }

 #optibuilder_options a {
        color: #000000;
 }

 #optibuilder_nforms li, ul {
        margin-left: 20px;
        list-style: disc;
        font-size: 11px;
 }


 #optibuilder_nforms a {
        color: #000000;
 }

.c-row .x-grid3-cell-inner {
  background-color: #ff9999;
}

.mj-row .x-grid3-cell-inner {
  background-color: #ffcc99;
}

.mn-row .x-grid3-cell-inner {
  background-color: #ffff99;
}

.w-row .x-grid3-cell-inner {
  background-color: #ffffcc;
}

.x-form-file-wrap {
  position: relative;
  height: 22px;
}
.x-form-file-wrap .x-form-file {
  position: absolute;
  right: 0;
  /*-moz-opacity: 0;
  filter:alpha;*/
  opacity: 0;
  z-index: 2;
  height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
  position: absolute;
  right: 0;
  z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
  position: absolute;
  left: 0;
  z-index: 3;
  color: #777;
}

.map-iframe {
  width: 100%;
  height: 100%;
}

