<script type = "text/javascript">

	function btnSpanFibers(value, metaData, record, rowIndex){
		var ret =  '<div align="center">'+
					'<a href="#" onclick="addSpanFibers(' + rowIndex + ')">'+
						'<img src="../images/icon_new_fiber.gif" title="Fibers" alt="Fibers" ></img>'+
					'</a>'+
				'</div>';
		return ret;
	}

	function btnEdit(value, metaData, record, rowIndex){
		var ret =  '<div align="center">'+
					'<a href="#" onclick="editSpan(' + rowIndex + ')">'+
						'<img src="../images/editar.png" title="Edit" alt="Edit" ></img>'+
					'</a>'+
				'</div>';
		return ret;
	}

	function btnDelete(value, metaData, record, rowIndex, colIndex, store){
		var ret =
		    '<div align="center">'+
				'<a href="#" onclick="deleteSpan(' + rowIndex + ')">'+
					'<img src="../images/Recycle_empty.png" title="Delete" alt="Delete" ></img>'+
				'</a>'+
			'</div>';
		return ret;
	}

	function linkShow(value, metaData, record, rowIndex, colIndex, store){
		return '<div><a href="#" onclick="showSpan(' + rowIndex + ')">' + value + '</a></div>';
	}

	function editSpan(r){
		var id = store_Spans.getAt(r).get('id');
		var name = store_Spans.getAt(r).get('name');
		addSubTab('tab_spans', 'sub_tab_spans_edit_'+id, 'Editing Span', '/spans/edit/' + id, 'editIcon');
	}

	function deleteSpan(r){
		var id = store_Spans.getAt(r).get('id');
		var name = store_Spans.getAt(r).get('site_a_name') + ' - ' + store_Spans.getAt(r).get('site_b_name');
		Ext.Msg.confirm('Delete ', 'Confirm delete span: ' + name, function(btn) {
		    if (btn == 'yes') {
		      updateSubTab('tab_spans', 'sub_tab_spans', 'List', '/Spans/destroy/' + id);
		      closeSubTab('tab_spans', 'sub_tab_spans_edit_' + id);
		      closeSubTab('tab_spans', 'sub_tab_spans_show_' + id);
		    }
		  });
	}

	function showSpan(r){
		var id = store_Spans.getAt(r).get('id');
		var name = store_Spans.getAt(r).get('name');
		addSubTab('tab_spans', 'sub_tab_spans_show_'+id, 'Showing', '/Spans/show/' + id, 'showIcon');
	}

	function addSpanFibers(r){
		var id = store_Spans.getAt(r).get('id');
		var name = store_Spans.getAt(r).get('name');
		addTab('tab_fibers', 'Fibers', 'List', '<%= fibers_path %>', 'tabFibers');
		addSubTab('tab_fibers', 'sub_tab_fibers_new_table'+id, 'Adding fibers to span '+name, '/fibers/new_table/'+id, 'showIcon');
	}

	function newSpan(){
		      addSubTab('tab_spans', 'sub_tab_spans_new', 'New Span', '<%= url_for(:action => "new") %>', 'newIcon');
	}

	var store_Spans = createStore(	'<%= url_for(:controller => "spans", :action => "store", :id => "grid") %>',
											['id', 'company_name', 'project_name', 'site_a_name', 'site_b_name'],
											[
											 {name: 'id',  mapping: 'id'},
											 {name: 'company_name',  mapping: 'company_name'},
                                             {name: 'project_name',  mapping: 'project_name'},
                                             {name: 'site_a_name',  mapping: 'site_a_name'},
                                             {name: 'site_b_name',  mapping: 'site_b_name'}
                                            ]
    );

	var pBar = createPBar(store_Spans, 'Spans');

	<%= include_buttons_Spans %>
	var btnsSpans = createSpansBtns();
	var cmdBar = createCmdBar(btnsSpans);
	var cols =
			[
       		{id: 'link', header: 'Project', dataIndex: 'project_name', sortable: true, renderer: linkShow, width: 220},
       		{id: 'link', header: 'Network Owner', dataIndex: 'company_name', sortable: true, renderer: linkShow, width: 220},
       		{id: 'link', header: 'Site A', dataIndex: 'site_a_name', sortable: true, renderer: linkShow, width: 220},
       		{id: 'link', header: 'Site B', dataIndex: 'site_b_name', sortable: true, renderer: linkShow, width: 220},
			{id: 'add_fiber', dataIndex: 'add_fiber', renderer: btnSpanFibers, width: 40},
      		{id: 'edit', dataIndex: 'edit', renderer: btnEdit, width: 40},
      		{id: 'delete', dataIndex: 'delete', renderer: btnDelete, width: 40}
      		];

  	var grid_Spans = createGrid(store_Spans, 'Spans List', cmdBar, pBar, cols);
	store_Spans.load({params: {start:0 , limit:10}});
	grid_Spans.render('Spans_index_grid_content');

</script>

<div id = "Spans_index_grid_content">
  	<!-- AREA TO RENDER GRID  -->
</div>
