<script type = "text/javascript">

	function btnEdit(value, metaData, record, rowIndex){
		var ret =  '<div align="center">'+
					'<a href="#" onclick="editTestChromaticDisp(' + rowIndex + ')">'+
						'<img src="../images/editar.png" title="Edit" alt="Edit" ></img>'+
					'</a>'+
				'</div>';
		return ret;
	}

	function btnDelete(value, metaData, record, rowIndex, colIndex, store){
		var ret =
		    '<div align="center">'+
				'<a href="#" onclick="deleteTestChromaticDisp(' + rowIndex + ')">'+
					'<img src="../images/Recycle_empty.png" title="Delete" alt="Delete" ></img>'+
				'</a>'+
			'</div>';
		return ret;
	}

	function linkShow(value, metaData, record, rowIndex, colIndex, store){
		return '<div><a href="#" onclick="showTestChromaticDisp(' + rowIndex + ')">' + value + '</a></div>';
	}

	function editTestChromaticDisp(r){
		var id = store_TestChromaticDisps.getAt(r).get('id');
		var name = store_TestChromaticDisps.getAt(r).get('test_chromatic_disps_name');
		addSubTab('tab_test_chromatic_disps', 'sub_tab_test_chromatic_disps_edit_'+id, 'Editing TestChromaticDisp ' + name, '/test_chromatic_disps/edit/' + id, 'editIcon');
	}

	function deleteTestChromaticDisp(r){
		var id = store_TestChromaticDisps.getAt(r).get('id');
		var name = store_TestChromaticDisps.getAt(r).get('test_chromatic_disps_name');
		Ext.Msg.confirm('Delete ', 'Confirm delete test_chromatic_disps: ' + name, function(btn) {
		    if (btn == 'yes') {
		      updateSubTab('tab_test_chromatic_disps', 'sub_tab_test_chromatic_disps', 'List', '/TestChromaticDisps/destroy/' + id);
		      closeSubTab('tab_test_chromatic_disps', 'sub_tab_test_chromatic_disps_edit_' + id);
		      closeSubTab('tab_test_chromatic_disps', 'sub_tab_test_chromatic_disps_show_' + id);
		    }
		  });
	}

	function showTestChromaticDisp(r){
		var id = store_TestChromaticDisps.getAt(r).get('id');
		var name = store_TestChromaticDisps.getAt(r).get('cable_name');
		addSubTab('tab_test_chromatic_disps', 'sub_tab_test_chromatic_disps_show_'+id, 'Showing' + name, '/test_chromatic_disps/show/' + id, 'showIcon');
	}

	function addTestChromaticDispFibers(r){
		var id = store_TestChromaticDisps.getAt(r).get('span_id');
		var test_chromatic_disps_id = store_TestChromaticDisps.getAt(r).get('id');
		var name = store_TestChromaticDisps.getAt(r).get('cable_name');
		addTab('tab_fibers', 'Fibers', 'List', '<%= fibers_path %>', 'tabFibers');
		addSubTab('tab_fibers', 'sub_tab_fibers_new_table'+id, 'Adding Tests to '+name, '/test_chromatic_disps/new_table/'+id+'?test_chromatic_disps_id='+test_chromatic_disps_id, 'showIcon');
	}

	function newTestChromaticDisp(){
		addSubTab('tab_test_chromatic_disps', 'sub_tab_test_chromatic_disps_new', 'New TestChromaticDisp', '<%= url_for(:action => "new") %>', 'newIcon');
	}

	var store_TestChromaticDisps = createStore(	'<%= url_for(:controller => "test_chromatic_disps", :action => "store", :id => "grid") %>',
											['id', 'fiber_num_a', 'fiber_num_b', 'status', 'project_name'
											, 'sub_a_name', 'sub_b_name', 'cable_name', 'site_a_name', 'site_b_name'
											],
											[{name: 'id',  mapping: 'id'}
											,{name: 'project_name',  mapping: 'project_name'}
											,{name: 'fiber_num_a',  mapping: 'fiber_num_a'}
											,{name: 'fiber_num_b',  mapping: 'fiber_num_b'}
											,{name: 'status',  mapping: 'status'}
											,{name: 'cable_name',  mapping: 'cable_name'}
											,{name: 'sub_a_name',  mapping: 'sub_a_name'}
											,{name: 'sub_b_name',  mapping: 'sub_b_name'}
											,{name: 'site_a_name',  mapping: 'site_a_name'}
											,{name: 'site_b_name',  mapping: 'site_b_name'}
                                            ]
    );

	var pBar = createPBar(store_TestChromaticDisps, 'TestChromaticDisps');

	<%= include_buttons_TestChromaticDisps %>
	var btnsTestChromaticDisps = createTestChromaticDispsBtns();
	var cmdBar = createCmdBar(btnsTestChromaticDisps);
	var cols =
			[
       		{id: 'link', header: 'Project', dataIndex: 'project_name', sortable: true, renderer: linkShow, width: 220},
       		{id: 'link1', header: 'Site A', dataIndex: 'site_a_name', sortable: true, renderer: linkShow, width: 100},
       		{id: 'link2', header: 'Subrack', dataIndex: 'sub_a_name', sortable: true, renderer: linkShow, width: 80},
       		{id: 'link3', header: 'Fiber', dataIndex: 'fiber_num_a', sortable: true, renderer: linkShow, width: 50},
       		{id: 'link4', header: 'Cable', dataIndex: 'cable_name', sortable: true, renderer: linkShow, width: 80},
       		{id: 'link5', header: 'Site B', dataIndex: 'site_b_name', sortable: true, renderer: linkShow, width: 100},
       		{id: 'link6', header: 'Subrack', dataIndex: 'sub_b_name', sortable: true, renderer: linkShow, width: 80},
      		{id: 'link7', header: 'Fiber', dataIndex: 'fiber_num_b', sortable: true, renderer: linkShow, width: 50},
       		{id: 'link8', header: 'Status', dataIndex: 'status', sortable: true, renderer: linkShow, width: 50},
      		{id: 'edit', dataIndex: 'edit', renderer: btnEdit, width: 40},
      		{id: 'delete', dataIndex: 'delete', renderer: btnDelete, width: 40}
      		];

  	var grid_TestChromaticDisps = createGrid(store_TestChromaticDisps, 'Chromatic Dispersion Tests Window', cmdBar, pBar, cols);
	store_TestChromaticDisps.load({params: {start:0 , limit:10}});
	grid_TestChromaticDisps.render('TestChromaticDisps_index_grid_content');

</script>

<div id = "TestChromaticDisps_index_grid_content">
  	<!-- AREA TO RENDER GRID  -->
</div>
