<br /><br />
<h1><b>Diagram Design</b></h1>
<br />

<table>
	<%
		col = 0
		1.upto(@qty) do |racks|
	%>
			<% if col >= 2 or col == 0 %><tr><% end %>
			<td>
			<table>
				<th colspan="<%= @cols %>">Rack <%= racks %></th>
				<tbody>
					<% 1.upto(@rows) do |axis_x| %>
						<tr>
						<% 1.upto(@cols) do |axis_y| %>
							<td align="center"><%= image_tag("subrack.png", :width => "30", :title => "Rack #{axis_x} x #{axis_y}") %></td>
						<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
			</td>
			<% if col >= 1 %><tr><% end %>
	<%
		col = col + 1
		col =  0 if col >= 2
		end
	%>
</table>
<br />

