<script type = "text/javascript">
	function btnEdit(value, metaData, record, rowIndex){
		var ret =  '<div align="center">'+
					'<a href="#" onclick="editDiagram(' + rowIndex + ')">'+
						'<img src="../images/editar.png" title="Edit" alt="Edit" ></img>'+
					'</a>'+
				'</div>';
		return ret;
	}

	function btnDelete(value, metaData, record, rowIndex, colIndex, store){
		var ret =
		    '<div align="center">'+
				'<a href="#" onclick="deleteDiagram(' + rowIndex + ')">'+
					'<img src="../images/Recycle_empty.png" title="Delete" alt="Delete" ></img>'+
				'</a>'+
			'</div>';
		return ret;
	}

	function linkShow(value, metaData, record, rowIndex, colIndex, store){
		return '<div><a href="#" onclick="showDiagram(' + rowIndex + ')">' + value + '</a></div>';
	}

	function editDiagram(r){
		var id = store_Diagrams.getAt(r).get('id');
		var name = store_Diagrams.getAt(r).get('name');
		addSubTab('tab_diagrams', 'sub_tab_diagrams_edit_'+id, 'Editing ' + name, '/diagrams/edit/' + id, 'editIcon');
	}

	function deleteDiagram(r){
		var id = store_Diagrams.getAt(r).get('id');
		var name = store_Diagrams.getAt(r).get('name');
		Ext.Msg.confirm('Delete ', 'Confirm delete diagram: ' + name, function(btn) {
		    if (btn == 'yes') {
		      updateSubTab('tab_diagrams', 'sub_tab_diagrams', 'List', '/Diagrams/destroy/' + id);
		      closeSubTab('tab_diagrams', 'sub_tab_diagrams_edit_' + id);
		      closeSubTab('tab_diagrams', 'sub_tab_diagrams_show_' + id);
		    }
		  });
	}

	function showDiagram(r){
		var id = store_Diagrams.getAt(r).get('id');
		var name = store_Diagrams.getAt(r).get('name');
		addSubTab('tab_diagrams', 'sub_tab_diagrams_show_'+id, 'Showing ' + name, '/Diagrams/show/' + id, 'showIcon');
	}

	function newDiagram(){
		      addSubTab('tab_diagrams', 'sub_tab_diagrams_new', 'New Diagram', '<%= url_for(:action => "new") %>', 'newIcon');
	}

	var store_Diagrams = createStore(	'<%= url_for(:controller => "diagrams", :action => "store", :id => "grid") %>',
											['id', 'name'],
											[{name: 'id',  mapping: 'id'},{name: 'name',  mapping: 'name'}]);

	var pBar = createPBar(store_Diagrams, 'Diagrams');

	<%= include_buttons_Diagrams %>
	var btnsDiagrams = createDiagramsBtns();
	var cmdBar = createCmdBar(btnsDiagrams);
	var cols =
			[
       		{id: 'link', header: 'Name', dataIndex: 'name', sortable: true, renderer: linkShow, width: 220},
      		{id: 'edit', dataIndex: 'edit', renderer: btnEdit, width: 40},
      		{id: 'delete', dataIndex: 'delete', renderer: btnDelete, width: 40}
      		];

  	var grid_Diagrams = createGrid(store_Diagrams, 'Diagrams List', cmdBar, pBar, cols);
	store_Diagrams.load({params: {start:0 , limit:10}});
	grid_Diagrams.render('Diagrams_index_grid_content');

</script>

<div id = "Diagrams_index_grid_content">
  	<!-- AREA TO RENDER GRID  -->
</div>
