<script type = "text/javascript">
	function btnEdit(value, metaData, record, rowIndex){
		var ret =  '<div align="center">'+
					'<a href="#" onclick="editProject(' + rowIndex + ')">'+
						'<img src="../images/editar.png" title="Edit" alt="Edit" ></img>'+
					'</a>'+
				'</div>';
		return ret;
	}

	function btnDelete(value, metaData, record, rowIndex, colIndex, store){
		var ret =
			'<div align="center">'+
				'<a href="#" onclick="deleteProject(' + rowIndex + ')">'+
					'<img src="../images/Recycle_empty.png" title="Delete" alt="Delete" ></img>'+
				'</a>'+
			'</div>';
		return ret;
	}

	function linkShow(value, metaData, record, rowIndex, colIndex, store){
		return '<div><a href="#" onclick="showProject(' + rowIndex + ')">' + value + '</a></div>';
	}

	function editProject(r){
		var id = store_Projects.getAt(r).get('id');
		var name = store_Projects.getAt(r).get('name');
		addSubTab('tab_projects', 'sub_tab_projects_edit_'+id, 'Editing ' + name, '/projects/edit/' + id, 'editIcon');
	}

	function deleteProject(r){
		var id = store_Projects.getAt(r).get('id');
		var name = store_Projects.getAt(r).get('name');
		Ext.Msg.confirm('Delete ', 'Confirm delete project: ' + name, function(btn) {
		    if (btn == 'yes') {
		      updateSubTab('tab_projects', 'sub_tab_projects', 'List', '/projects/destroy/' + id);
		      closeSubTab('tab_projects', 'sub_tab_projects_edit_' + id);
		      closeSubTab('tab_projects', 'sub_tab_projects_show_' + id);
		    }
		  });
	}

	function showProject(r){
		var id = store_Projects.getAt(r).get('id');
		var name = store_Projects.getAt(r).get('name');
		addSubTab('tab_projects', 'sub_tab_projects_show_'+id, 'Showing ' + name, '/projects/show/' + id, 'showIcon');
	}

	function newProject(){
		      addSubTab('tab_projects', 'sub_tab_projects_new', 'New project', '<%= url_for(:action => "new") %>', 'newIcon');
	}

	var store_Projects = createStore(	'<%= url_for(:controller => "projects", :action => "store", :id => "grid") %>',
											['id', 'name', 'description', 'companies_name', 'begin_date', 'end_date'],
											[{name: 'id',  mapping: 'id'}
											,{name: 'name',  mapping: 'name'}
											,{name: 'companies_name',  mapping: 'companies_name'}
											,{name: 'begin_date',  mapping: 'begin_date'}
											,{name: 'end_date',  mapping: 'end_date'}
											,{name: 'description',  mapping: 'description'}]);

	var pBar = createPBar(store_Projects, 'projects');

	<%= include_buttons_projects %>
	var btnsProjects = createProjectsBtns();
	var cmdBar = createCmdBar(btnsProjects);
	var cols =
			[
      		{id: 'companies_name', header: 'Customer', dataIndex: 'companies_name', sortable: true, renderer: linkShow, width: 210},
      		{id: 'project', header: 'Name', dataIndex: 'name', sortable: true, renderer: linkShow, width: 210},
      		{id: 'description', header: 'Description', dataIndex: 'description', sortable: true, renderer: linkShow, width: 380},
      		{id: 'begin_date', header: 'Begin Date', dataIndex: 'begin_date', sortable: true, width: 70},
      		{id: 'end_date', header: 'End Date', dataIndex: 'end_date', sortable: true, width: 70},
      		{id: 'edit', dataIndex: 'edit', renderer: btnEdit, width: 40},
      		{id: 'delete', dataIndex: 'delete', renderer: btnDelete, width: 40}
      		];

  	var grid_Projects = createGrid(store_Projects, 'Projects List', cmdBar, pBar, cols);
	store_Projects.load({params: {start:0 , limit:10}});
	grid_Projects.render('Projects_index_grid_content');

</script>

<div id = "Projects_index_grid_content">
  	<!-- AREA TO RENDER GRID  -->
</div>