<script type = "text/javascript">
	function btnEdit(value, metaData, record, rowIndex){
		var ret =  '<div align="center">'+
					'<a href="#" onclick="editFiber(' + rowIndex + ')">'+
						'<img src="../images/editar.png" title="Edit" alt="Edit" ></img>'+
					'</a>'+
				'</div>';
		return ret;
	}

	function btnDelete(value, metaData, record, rowIndex, colIndex, store){
		var ret =
		    '<div align="center">'+
				'<a href="#" onclick="deleteFiber(' + rowIndex + ')">'+
					'<img src="../images/Recycle_empty.png" title="Delete" alt="Delete" ></img>'+
				'</a>'+
			'</div>';
		return ret;
	}

	function linkShow(value, metaData, record, rowIndex, colIndex, store){
		return '<div><a href="#" onclick="showFiber(' + rowIndex + ')">' + value + '</a></div>';
	}

	function editFiber(r){
		var id = store_Fibers.getAt(r).get('id');
		var number = store_Fibers.getAt(r).get('fiber_num_a');
		addSubTab('tab_fibers', 'sub_tab_fibers_edit_'+id, 'Editing ' + number, '/fibers/edit/' + id, 'editIcon');
	}

	function deleteFiber(r){
		var id = store_Fibers.getAt(r).get('id');
		var number = store_Fibers.getAt(r).get('fiber_num_a');
		Ext.Msg.confirm('Delete ', 'Confirm delete fiber: ' + number, function(btn) {
		    if (btn == 'yes') {
		      updateSubTab('tab_fibers', 'sub_tab_fibers', 'List', '/Fibers/destroy/' + id);
		      closeSubTab('tab_fibers', 'sub_tab_fibers_edit_' + id);
		      closeSubTab('tab_fibers', 'sub_tab_fibers_show_' + id);
		    }
		  });
	}

	function showFiber(r){
		var id = store_Fibers.getAt(r).get('id');
		var number = store_Fibers.getAt(r).get('fiber_num_a');
		addSubTab('tab_fibers', 'sub_tab_fibers_show_'+id, 'Showing ' + number, '/Fibers/show/' + id, 'showIcon');
	}

	function newFiber(){
		      addSubTab('tab_fibers', 'sub_tab_fibers_new', 'New Fiber', '<%= url_for(:action => "new") %>', 'newIcon');
	}

	var store_Fibers = createStore(	'<%= url_for(:controller => "fibers", :action => "store", :id => "grid") %>',
											['id', 'fiber_num_a', 'fiber_num_b', 'status', 'project_name'
											, 'sub_a_name', 'sub_b_name', 'cable_name', 'site_a_name', 'site_b_name'
											],
											[{name: 'id',  mapping: 'id'}
											,{name: 'project_name',  mapping: 'project_name'}
											,{name: 'fiber_num_a',  mapping: 'fiber_num_a'}
											,{name: 'fiber_num_b',  mapping: 'fiber_num_b'}
											,{name: 'status',  mapping: 'status'}
											,{name: 'cable_name',  mapping: 'cable_name'}
											,{name: 'sub_a_name',  mapping: 'sub_a_name'}
											,{name: 'sub_b_name',  mapping: 'sub_b_name'}
											,{name: 'site_a_name',  mapping: 'site_a_name'}
											,{name: 'site_b_name',  mapping: 'site_b_name'}
											]
								  );

	var pBar = createPBar(store_Fibers, 'Fibers');

	<%= include_buttons_Fibers %>
	var btnsFibers = createFibersBtns();
	var cmdBar = createCmdBar(btnsFibers);
	var cols =
			[
       		{id: 'link', header: 'Project', dataIndex: 'project_name', sortable: true, renderer: linkShow, width: 220},
       		{id: 'link', header: 'Site A', dataIndex: 'site_a_name', sortable: true, renderer: linkShow, width: 100},
       		{id: 'link', header: 'Subrack', dataIndex: 'sub_a_name', sortable: true, renderer: linkShow, width: 80},
       		{id: 'link', header: 'Position', dataIndex: 'fiber_num_a', sortable: true, renderer: linkShow, width: 50},
       		{id: 'link', header: 'Cable', dataIndex: 'cable_name', sortable: true, renderer: linkShow, width: 80},
       		{id: 'link', header: 'Site B', dataIndex: 'site_b_name', sortable: true, renderer: linkShow, width: 100},
       		{id: 'link', header: 'Subrack', dataIndex: 'sub_b_name', sortable: true, renderer: linkShow, width: 80},
      		{id: 'link', header: 'Position', dataIndex: 'fiber_num_b', sortable: true, renderer: linkShow, width: 50},
       		{id: 'link', header: 'Status', dataIndex: 'status', sortable: true, renderer: linkShow, width: 50},
      		{id: 'edit', dataIndex: 'edit', renderer: btnEdit, width: 40},
      		{id: 'delete', dataIndex: 'delete', renderer: btnDelete, width: 40}
      		];

  	var grid_Fibers = createGrid(store_Fibers, 'Fibers List', cmdBar, pBar, cols);
	store_Fibers.load({params: {start:0 , limit:10}});
	grid_Fibers.render('Fibers_index_grid_content');

</script>

<div id = "Fibers_index_grid_content">
  	<!-- AREA TO RENDER GRID  -->
</div>
